
:root {
  --warna-main-bg: #222052;
  --warna-text-skin: #d2b48c;
}




.header {
  background-color: var(--warna-main-bg);
  color: var(--warna-text-skin);
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.header .left-section {
  width: 220px;
}

.logo {
  width: 80px;
  height: fit-content;
}

@media (max-width: 800px) {
  .header .left-section {
    width: unset;
  }
}

.header .header-link {
  display: inline-block;
  padding: 6px 9.5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header .header-link:hover {
  border: 1px solid white;
}

.header .logo {
  height: 26px;
  margin-top: 1px;
}

.header .mobile-logo {
  display: none;
}

@media (max-width: 675px) {
  .header .logo {
    display: none;
  }

  .header .mobile-logo {
    display: block;
    height: 26px;
    margin-top: 1px;
  }
}

@media (max-width: 320px) {
  .header .search-bar {
    visibility: hidden;
  }

  .header .search-button {
    visibility: hidden;
  }
}

.header .middle-section {
  max-width: 850px;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .search-bar {
  flex: 1;
  width: 75%;
  font-size: 1rem;
  height: 37px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .search-button {
  background-color: var(--warna-text-skin);
  width: 10%;
  height: 39px;
  border-color: var(--warna-text-skin);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
  justify-content: center;
}

.header .search-icon {
  justify-content: center;
  align-items: center;
  width: 90%;
  height: fit-content;
  align-self: center;
}

.header .right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.header .orders-link {
  color: var(--warna-text-skin);

  display: flex;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}

.header .orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-link {
  color: var(--warna-text-skin);
  display: flex;
  align-items: center;
  position: relative;
}

.header .cart-icon {
  width: 40px;
}

.header .cart-text {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-quantity {
  color: white;
  font-size: 0.9rem;
  font-weight: 900;
  position: absolute;
  top: 5px;
  right: 48px;
  width: 23px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
}

@media (max-width: 360px), (max-width: 375px), (max-width: 400px), (max-width: 450px), (max-width: 500px) {

  .header {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header .logo,
  .header .mobile-logo {
    height: 22px;
  }

  .header .middle-section {
    width: 60%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .header .search-bar {
    height: 28px;
    font-size: 0.8rem;
    padding-left: 10px;
  }

  .header .search-button {
    width: 25px;
    height: 30px;
  }

  .header .search-icon {
    width: 70%;
  }

  .header .orders-text {
    font-size: 12px;
  }

  .header .orders-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header .cart-icon {
    width: 28px;
  }

  .header .cart-text {
    font-size: 12px;
    margin-left: 3px;
  }

  .header .cart-quantity {
    font-size: 0.7rem;
    width: 16px;
    height: 16px;
    top: 0px;
    right: 35px;
  }

  .header .right-section {
    width: 130px;
  }
}